<div [ngClass]="modalType === 'error' ? 'error-dialog' : ''">
    <div class="modal-header">
        <h4 class="modal-title">{{ modalHeader }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="modalMessageList.length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Erro</th>
                        <th>Mensagem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mess of modalMessageList">
                        <td class="align-left">{{mess.erro}}</td>
                        <td class="align-left">{{mess.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="modalMessageList === null || modalMessageList.length === 0">
            <h4>Erro, favor revisar os valores digitados no formulário</h4>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12">
        <div class="col-12 text-center d-grid">
            <button class="btn btn-md btn-primary" ngbAutofocus (click)="activeModal.close('default')">OK
            </button>
        </div>
        </div>
    </div>
</div>