.img-max-lenght {
  max-height: 300px;
  max-width: 300px;
}

.picsum-img-wrapper {
  background-color: #e3e9ee;
  border-style: groove;
  border-width: 2px;
}

.success-dialog {
  border-style: solid;
  border-color: rgb(228, 61, 61);
  border-width: 3px;
}

.error-dialog {
  border-style: solid;
  border-color: rgb(228, 61, 61);
  border-width: 1px;
}

.div-block-cli {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-padding-0 {
  margin: 0px;
  padding: 0px;
}

.div-block-in {
  border-style: solid;
  border-color: rgb(110, 109, 109);
  border-width: 0.1px;
  padding: 0px;
}

.label-titulo {
  margin-bottom: 2px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 12px;
}

.div-label-titulo {
  background-color: rgb(192, 192, 192);
}

.div-input-group {
  padding-top: 2px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 12px;
}

.div-form-princ {
  margin: 0px;
  padding: 0px;
}

.div-form-group {
  margin: 0px;
  padding: 2px;
}

.span-bt {}

.span-pesq {
  font-size: 22px;
}

.form-group {
  margin: 0px;
}

label {
  margin: 0px;
}

button {
  border: 1px solid #ced4da;
}
.modal-body {
  color: #000000;
  font-weight: 500;
}
.modal-header {
  color: #000000;
  font-weight: 500;
}