<div class="col-12" style="padding: 15px;margin: 0px">
    <app-page-header [pheading]="' Titulos'" [picon]="'fa-money'" [heading]="'SubGrupo Despesa'" [icon]="'fa-th-list'">
    </app-page-header>

    <div class="div-geral-page">

        <ngx-spinner [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
            type="ball-spin-clockwise">
            <p style="font-size: 20px; color: white">Comunicando com o Servidor, Aguarde...</p>
        </ngx-spinner>

        <div *ngIf="statusForm === 1 || statusForm === 2" class="margin-padding-0">


            <div class="card bg-light mb-3">
                <div class="card-body card-buttons">
                    <div class="row">
                        <div class="col-lg-3 col-6 div-mobile-buttons d-grid">
                            <button class="btn btn-block butao-acao"
                                [ngClass]="statusForm === 2 ? 'btn-warning':'btn-primary'" (click)="onCadastra()">
                                <span class="fa fa-save span-bt-icon"></span> {{statusForm === 2 ? 'Alterar':'Salvar'}}
                            </button>
                        </div>
                        <div class="col-lg-2 col-6 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-default butao-acao" (click)="onLimpa()">
                                <span class="fa fa-eraser span-bt-icon"></span> Limpar
                            </button>
                        </div>
                        <div class="col-lg-1 col-4 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-info butao-acao" (click)="onLeftArray()">
                                <span class="fa fa-arrow-circle-left span-bt-icon"></span>
                            </button>
                        </div>
                        <div class="col-lg-1 col-4 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-info butao-acao" (click)="onRightArray()">
                                <span class="fa fa-arrow-circle-right span-bt-icon"></span>
                            </button>
                        </div>
                        <div class="col-lg-1 col-4 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-info butao-acao" (click)="onTable()">
                                <span class="fa fa-table span-bt-icon"></span>
                            </button>
                        </div>
                        <div class="col-lg-2 col-6 div-mobile-buttons d-grid">
                            <button type="button" [disabled]="isValidDelete()"
                                class="btn btn-block btn-danger butao-acao" (click)="onDeleta(subGrupoDespesa.id)">
                                <span class="fa fa-trash span-bt-icon"></span> Deletar
                            </button>
                        </div>
                        <div class="col-lg-2 col-6 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-success butao-acao" (click)="onPesquisa()">
                                <span class="fa fa-search span-bt-icon"></span> Pesq
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card bg-light mb-3">
                <div class="card-body padding-5">

                    <app-fields-erro-directive *ngIf="errorForm.message !== null" [servererror]="errorForm">
                    </app-fields-erro-directive>
                    <form (ngSubmit)="onCadastra()">

                        <div class="form-group row">
                            <label for="id"  class="col-sm-1 col-form-label">Id</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" name="inputId"
                                    [(ngModel)]="subGrupoDespesa.id" [disabled]="statusForm === 2" id="inputId"
                                    placeholder="Id">
                            </div>
                            <label  for="id" class="col-sm-1 col-form-label">Cod</label>
                            <div class="col-sm-2">
                                <input type="number" name="inputCodName" id="inputCodId" placeholder="Cod"
                                    class="form-control" [(ngModel)]="subGrupoDespesa.codSubgrupoDespesa">
                            </div>
                            <label for="grupoDespesa" class="col-sm-2 col-form-label">Nome</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="grupoDespesa"
                                    [(ngModel)]="subGrupoDespesa.nome" id="grupoDespesa" placeholder="Nome">
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 5px;"
                            *ngIf="subGrupoDespesa.id !== null && subGrupoDespesa.id > 0">
                            <label  for="id" class="col-sm-2 col-form-label">Usuário Inclusão</label>
                            <div class="col-sm-4">

                                <span class="form-control span-disable">{{subGrupoDespesa.usuarioInclusao}}</span>

                            </div>
                            <label for="id"  class="col-sm-2 col-form-label">Data Inclusão</label>
                            <div class="col-sm-4">

                                <span class="form-control span-disable">{{subGrupoDespesa.dtaInclusao |
                                    amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</span>

                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 5px;">
                            <label for="labels" class="col-sm-1 col-form-label">Grupo</label>
                            <div class="col-sm-11">
                                <select class="form-control" name="labels" id="labels" [compareWith]="compareGrupos"
                                    [(ngModel)]="subGrupoDespesa.grupoDespesaDTO">
                                    <option [ngValue]="null">Selecione</option>
                                    <option *ngFor="let cat of grupoDespesas" [ngValue]="cat">{{cat.nome}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 5px;">
                            <label for="inputDescricao" class="col-sm-1 col-form-label">Desc.</label>
                            <div class="col-sm-11">
                                <textarea class="form-control" name="inputDescricao" id="inputDescricao"
                                    [(ngModel)]="subGrupoDespesa.descricao" placeholder="Descrição"></textarea>
                            </div>
                        </div>


                        <div class="form-group row" style="margin-top: 5px;">
                            <label  for="id" class="col-sm-1 col-form-label">Status</label>
                            <fieldset>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadiosStatus" [value]="true"
                                            [(ngModel)]="subGrupoDespesa.status"> Ativo
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadiosStatus" [value]="false"
                                            [(ngModel)]="subGrupoDespesa.status"> Bloqueado
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div *ngIf="statusForm === 3">

            <div class="card bg-light mb-3">
                <div class="card-header">Ações</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 col-6 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-primary butao-acao" (click)="voltar()">
                                <span class="fa fa-arrow-left"></span> Voltar
                            </button>
                        </div>

                        <div class="col-sm-3 col-6 div-mobile-buttons d-grid">
                            <button type="button" class="btn btn-block btn-warning butao-acao"
                                [disabled]="selected.length === 0" (click)="editando()">
                                <span class="fa fa-edit"></span> Editar
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            <ngx-datatable class="material striped" [scrollbarH]="true" [rows]="subGrupoDespesas"
                [columnMode]="ColumnMode.standard" [headerHeight]="35" [footerHeight]="70" rowHeight="auto"
                [selected]="selected" [selectionType]="selectionTypeSingle" (activate)="onActivate($event)"
                [limit]="10">
                <ngx-datatable-column name="ID" prop="id" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="COD" prop="codSubgrupoDespesa" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="NOME" prop="nome" [width]="250"></ngx-datatable-column>
                <ngx-datatable-column name="GRUPO" prop="grupoDespesaDTO.nome" [width]="250"></ngx-datatable-column>
                <ngx-datatable-column name="STATUS" prop="status" [width]="100">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value === true ? 'Ativo':'Desativado'}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>