.style3 {
    border-top: 1px dashed #8c8b8b;
}
.chbox {
    margin-left: 20px;
}
.rinline {
    margin-left: 20px;
}
.span-disable {
    background-color: #E9ECEF;
}
button {
    border: 1px solid #ced4da;
}
.card-header {
    background-color: white;
}
.card-body {
    background-color: white;
}