button {
    border: 1px solid #ced4da;
}
.tr-backg {
    background-color: white;
}
.dif {
    background-color: #eeced8;
}
.movimento-div-principal {
    color: #000000;
    font-weight: 500;
}

.form-control, .dataTable-input {
    color: #000000;
}
.card-header {
    background-color: white;
}
.card-body {
    background-color: white;
}