.custom-input {
  position: relative;
}
.custom-input input {
  border: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
  padding: 0.5rem;
  outline: none;
  transition: border-color 0.2s;
  font-size: 1.8rem;
  border-radius: 4px;
}
.custom-input input:focus {
  border-color: black;
}
.custom-input label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: black;
  pointer-events: none;
  transition: color 0.2s;
  padding: 0 0.25rem;
  background-color: white;
}
.custom-input input:focus ~ label,
.custom-input input:not(:placeholder-shown) ~ label {
  color: black;
}
.custom-input label.outlined {
  border: 1px solid #ced4da;
  border-radius: 4px;
  top: -0.5rem;
  font-size: 0.75rem;
  background-color: white;
  padding: 0 0.25rem;
}
.card-body {
  background-color: #6c757d9d;
}
.configs {
  background-color: white;
}

.img-max-lenght {
  max-height: 250px;
  max-width: 250px;
  min-height: 250px;
  max-width: 250px;
  background-color: white;
}

.picsum-img-wrapper {
  background-color: #555555;
  border-style: groove;
  border-width: 2px;
}

.spin-upload-image {
  font-size: 28px;
  margin-left: 5px;
  margin-right: 10px;
}

.custom-input select:focus {
  border-color: black;
}

.custom-input select {
  border: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
  padding: 0.5rem;
  outline: none;
  transition: border-color 0.2s;
  font-size: 1.8rem;
  border-radius: 4px;
  appearance: none;
}

.custom-input label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: black;
  pointer-events: none;
  transition: color 0.2s;
  padding: 0 0.25rem;
  background-color: white;
}

.custom-input select:focus ~ label,
.custom-input select:not(:placeholder-shown) ~ label {
  color: black;
}
.table-itens {
  font-size: 0.6rem;
}
.invalid-feedback {
  font-weight: 700;
}
.is-invalid {
  border: 1px solid #dc3545 !important;
}