.div-print-content {
    width: 200mm;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
}
.div-print-principal {
    border: 1.5px solid #000000;
}
.div-parcelamento {
    border-left: 1.5px solid #000000;
    border-right: 1.5px solid #000000;
    border-bottom: 1.5px solid #000000;
}
.table {
    margin: 0px;
    padding: 0px;
}
.margin-padding-0 {
    margin: 0px;
    padding: 0px;
}
.td-cabecalho {
    padding: 2px;
}
.span-data {
    font-weight: 800;
    font-size: 12px;
}
.div-print-content {
    background-color: white;
    color: black;
}