.align-center {
    margin-bottom: 1.5rem;
}

.padding-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.margin-padding-0 {
    padding: 0px;
    margin: 0px;
}

.p-margin-padding-0 {
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.p-titulo-margin-padding-0 {
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 2px 0px;
    background-color: #c9cbce;
}

.label-margin-padding-0 {
    padding: 0px;
    margin: 0px;
}

.padding-0 {
    padding: 0px;
}

.col-sm-12 {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.span-fa {
    font-size: 1.5em;
}

.span-status {
    font-size: 2em;
}

.div-span-status-wait {
    color: #FF9A00;
}

.div-span-status-complete {
    color: #009E4D;
}

.span-disable {
    background-color: #E9ECEF;
}

.table-personalizada {
    font-size: 11px;
}

.butao-alterar {
    font-size: 11px;
    padding: 3px;
    margin: 0px;
}

.input-alterar {
    font-size: 11px;
    margin: 0px;
    padding: 3px;
}

:host ::ng-deep .datatable-body-cell {
    padding: 5px !important;
    margin: 0px !important;
}

:host ::ng-deep .datatable-header-cell {
    padding: 5px !important;
    margin: 0px !important;
}

button {
    border: 1px solid #ced4da;
}

.border-div {
    border: 1px solid #000000;
}

.table-status {
    background-color: white;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.td-status {
    padding: 2px;
}

.th-status {
    padding: 7px;
}

.card-status {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.number-aling {
    text-align: right;
}

.div-rep {
    border: 1px solid #666565b2;
    margin: 5px;
    padding: 5px;
}

.card-header {
    background-color: white;
}

.card-body {
    background-color: white;
}