@import '../../../../styles/variables/styles.scss';

#userDropdown {
    cursor: pointer;
}
.img-fluid {
    height: 1.8rem;
    width: 1.8rem;
}
.dropdown-toggle {
    outline: 0;
}
.dropdown-item  {
    color: black;
    font-size: 0.7rem;

    .span-item-icon {
        padding-left: 5px;
        font-size: 0.9rem;
        color: $gray-800;   
    }
}

.div-titulo {
    text-align: center;
    margin: 0;
    padding-bottom: 0px;
}

.span-titulo {
    color: black;
    padding-bottom: 0px;
    font-size: 1.5rem;
}