<app-head-compact title="Acessos - Organizações"
    icon="user"></app-head-compact><!-- Main page content-->
<div class="container-xl px-4 mt-4" style="max-width: 950px;">
    <!-- <nav class="nav nav-borders"><a class="nav-link active ms-0" routerLink="/pages/access/user">Usuário</a>
        <a class="nav-link" routerLink="/pages/access/find-user">Busca</a>
    </nav> 
<hr class="mt-0 mb-4" />
-->


    <div class="row gx-4">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Formulário</div>
                <div class="card-body">

                    <ngx-spinner [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
                        type="ball-spin-clockwise">
                        <p style="color: white">Aguarde...</p>
                    </ngx-spinner>

                    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                        <div class="row">

                            <div class="col-sm-2 col-4 div-field">
                                <div class="form-group">
                                    <label class="small mb-1" for="id-empresa">Id</label>
                                    <input type="number" class="form-control" id="id-empresa" formControlName="id">
                                </div>
                            </div>

                            <div class="col-sm-10 col-8 div-field">
                                <div class="form-group">
                                    <label class="small mb-1" for="id-nome">Nome da organização*</label>
                                    <input type="text" class="form-control" id="id-nome"
                                        [ngClass]="{'is-invalid': submitted && f.name.errors}" formControlName="name">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors['required']">Adicione um nome para a Organização
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12 div-field">
                                <div class="form-group">
                                    <label class="small mb-1" for="exampleFormControlTextarea1">Descrição</label>


                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                        [ngClass]="{'is-invalid': submitted && f.description.errors}"
                                        formControlName="description" rows="2">
                                </textarea>

                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors['required']">Adicione uma descrição
                                        </div>
                                        <div *ngIf="f.description.errors['maxlength']">Tamanho máximo excedido de 255
                                            caracteres
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12 div-field">
                                <div class="form-group">
                                    <label for="id-checkbox-empresa-ativa" class="small mb-1">Status</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox"
                                            id="id-checkbox-empresa-ativa" formControlName="enableState">
                                        <label class="form-check-label" for="id-checkbox-empresa-ativa">Organização ativa?</label>
                                    </div>
                                </div>
                            </div>







                        </div>


                    </form>

                    <hr style="margin-top: 10px;margin-bottom: 10px;">

                    <div class="row">

                        <div class="col-lg-2 col-6 div-mobile-buttons d-grid">
                            <button type="button" ngbTooltip="Salvar ou Alterar" class="btn btn-block butao-acao"
                                [ngClass]="statusForm === 2 ? 'btn-warning':'btn-primary'" (click)="onSubmit()">
                                <span class="fa fa-save span-bt-icon"></span><span class="span-bt-text">{{statusForm ===
                                    2 ?
                                    'Alterar' : 'Salvar'}}
                                </span>
                            </button>
                        </div>

                        <div class="col-lg-2 col-6 div-mobile-buttons d-grid">
                            <button type="button" ngbTooltip="Limpa todos os campos" class="btn btn-outline-dark butao-acao" (click)="onClear()">
                                <span class="fa fa-eraser span-bt-icon"></span><span class="span-bt-text">Limpar</span>
                            </button>
                        </div>

                    </div>

                    <hr style="margin-top: 20px;margin-bottom: 10px;">
                        <div class="col-12 text-center">
                            <h4>Organizações Cadastradas: {{companies.length}}</h4>
                        </div>
                    <hr style="margin-top: 10px;margin-bottom: 10px;">

                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Excluir</th>

                                    <th scope="col">Id</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rr of companies; index as i">
                                    <td>{{i + 1}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-table" (click)="editCompany(rr)" [disabled]="permitEditOrDelete(rr)">
                                          <span class="fa fa-edit"></span><span class="span-table">Editar</span></button>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-danger btn-table" (click)="deleteCompany(rr)"
                                        [disabled]="permitEditOrDelete(rr)">
                                            <span class="fa fa-trash"></span><span
                                                class="span-table">Excluir</span></button>
                                    </td>
                                    
                                    <td>{{rr.id}}</td>
                                    <td class="td-table-min-width">{{rr.name}}</td>
                                    <td>{{rr.enableState === true ? 'Ativa' : 'Desativada'}}</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>