@import './variables/styles';

@import './core/styles.scss';

@import './utilities/styles.scss';

/* You can add global styles to this file, and also import other style files */
@import './layout/styles';


@import 'ngx-toastr/toastr';

@import "@ng-select/ng-select/themes/default.theme.css";


.ngx-datatable.material .datatable-body .datatable-body-row.active .datatable-body-cell {
    color: white;
}

.report-container {
    height: 75vh;
    margin: 8px auto;
    width: 100%;
}

.div-mobile-buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.shadow-right {
    box-shadow: .15rem 0 1.75rem #21283226 !important;
}

.menu-i-feather {
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.div-geral-page {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0;
    padding: 0;
}

.btn {
    .span-acao {
        font-size: 1.5em;
        margin-right: 5px;
    }
}

.butao-acao {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
}


.table_custom { --bs-table-bg: transparent !important; }

.table-object-selected { --bs-table-bg: #ff4c6a0e !important; }

