.span-bt-icon {
    font-size: 1.4em;
    margin-right: 5px;
}
.span-bt-text {
    font-size: 1.2em;
}
.butao-acao {
    padding: 8px 14px 8px 14px;
}
.btn-table {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
.span-table {
    margin-left: 3px;
}