.style3 {
  border-top: 1px dashed #8c8b8b;
}

.span-midle {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
button {
  border: 1px solid #ced4da;
}
.chbox {
  margin-left: 20px;
}
.rinline {
  margin-left: 20px;
}
.span-disable {
  background-color: #e9ecef;
}
:host ::ng-deep .datatable-body-cell {
  padding: 5px !important;
  margin: 0px !important;
  border: 0.7px solid #e9ecef;
}

:host ::ng-deep .datatable-header-cell {
  padding: 5px !important;
  margin: 0px !important;
  border: 0.7px solid #e9ecef;
}

.span-acao2 {
  font-size: 1.2em;
}

.div-line {
  margin-top: 10px;
}
.botao-acao-item {
  padding: 5px 5px 5px 5px;
  margin: 0px;
  font-size: 14px;
}
.card-header {
  background-color: white;
}
.card-body {
  background-color: white;
}
