.img-max-lenght {
    max-height: 300px;
    max-width: 300px;
}
.picsum-img-wrapper {
    background-color: #e3e9ee;
    border-style: groove;
    border-width: 2px;
}
.success-dialog {
    border-style: solid;
    border-color: rgb(228, 61, 61);
    border-width: 3px;
  }
  .error-dialog {
    border-style: solid;
    border-color: rgb(228, 61, 61);
    border-width: 1px;
  }