<div>
    <div class="modal-header">
        <h4 class="modal-title">{{ modalHeader }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngFor="let climodalc of modalContent" class="col-12">

            <div class="row div-block-cli" (click)="activeModal.close(climodalc)" (keydown.enter)="activeModal.close(climodalc)" tabindex={0} >

                <div class="col-3 div-block-in">
                    <div class="form-group div-form-group">
                        <div class="div-label-titulo">
                            <label for="id"  class="label-titulo">ID</label>
                        </div>
                        <div class="input-group div-input-group">
                            <span>{{climodalc.id}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-9 div-block-in">
                    <div class="form-group div-form-group">
                        <div class="div-label-titulo">
                            <label  for="id" class="label-titulo">CGC</label>
                        </div>
                        <div class="input-group div-input-group">
                            <span>{{climodalc.cgc}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-6 div-block-in">
                    <div class="form-group div-form-group">
                        <div class="div-label-titulo">
                            <label for="id"  class="label-titulo">NOME</label>
                        </div>
                        <div class="input-group div-input-group">
                            <span>{{climodalc.nome}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-6 div-block-in">
                    <div class="form-group div-form-group">
                        <div class="div-label-titulo">
                            <label for="id"  class="label-titulo">FANTASIA</label>
                        </div>
                        <div class="input-group div-input-group">
                            <span>{{climodalc.fantasia}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            
        </div>
    </div>
</div>