button {
    border: 1px solid #ced4da;
}

.span-disable {
    background-color: #E9ECEF;
}

:host ::ng-deep .datatable-body-cell {
    padding: 5px !important;
    margin: 0px !important;
    border: 0.7px solid #E9ECEF;
}

:host ::ng-deep .datatable-header-cell {
    padding: 5px !important;
    margin: 0px !important;
    border: 0.7px solid #E9ECEF;
}

.img-max-lenght {
    max-height: 250px;
    max-width: 250px;
}

.picsum-img-wrapper {
    background-color: #555555;
    border-style: groove;
    border-width: 2px;
}

.spin-upload-image {
    font-size: 28px;
    margin-left: 5px;
    margin-right: 10px;
}

.card-header {
    background-color: white;
}

.card-body {
    background-color: white;
}


