<div class="col-12" style="padding: 15px;margin: 0px">
    <app-page-header [pheading]="' Consultas'" [picon]="'fa-file-text'" [heading]="'Relatório'" [icon]="'fa-th-list'">
    </app-page-header>



    <div class="card div-geral-page">
        <ngx-spinner name="fullSpinner" [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
            type="ball-spin-clockwise">
            <p style="font-size: 20px; color: white">Comunicando com o Servidor, Aguarde...</p>
        </ngx-spinner>


        <div class="card bg-light mb-3">
            <div class="card-body card-buttons">
                <div class="row">
                    <div class="col-lg-2 col-sm-2 col-6 div-mobile-buttons d-grid">
                        <button class="btn btn-block btn-primary butao-acao" (click)="onExecuta()">
                            <span class="fa fa-bolt span-bt-icon"></span>
                            <span class="span-bt-text">Executar</span>
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-6 div-mobile-buttons d-grid">
                        <button type="button" class="btn btn-block btn-outline-dark butao-acao" (click)="onLimpa()">
                            <span class="fa fa-eraser span-bt-icon"></span><span class="span-bt-text">Limpar</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body padding-5">
                <form [formGroup]="reportForm">
                    <div class="col-12 padding-5">
                        <div class="form-group">
                            <label for="idConsulta">Selecione a consulta que tem acesso para executar</label>

                            <select class="form-control" [ngClass]="{'is-invalid': submitted && f['consulta'].errors}"
                                (change)="consultaSelecionada()" id="idConsulta" formControlName="consulta">
                                <option [ngValue]="null">SELECIONE</option>
                                <option *ngFor="let cr of consultaRelatorioDTOs" [ngValue]="cr">{{cr.area}} -
                                    {{cr.nome}}</option>
                            </select>
                            <div *ngIf="submitted && f['consulta'].errors" class="invalid-feedback">
                                <div *ngIf="f['consulta'].errors['required']">Selecione a consulta
                                </div>
                            </div>

                        </div>
                    </div>

                    <div style="margin: 0px;padding: 0px;" *ngIf="isConsultaSelecionada()">

                        <div class="col-12 padding-5">
                            <label for="id">Consulta id: {{getIdConsulta()}}</label>
                        </div>

                        <div class="col-12 padding-5">
                            <label for="idDescricao">Descrição da Consulta Cadastrada</label>
                            <textarea class="form-control" disabled>{{getDescricaoConsulta()}}</textarea>
                        </div>

                        <div class="col-12 padding-5">
                            <label for="idDescricao">Query da Consulta</label>
                            <textarea class="form-control" formControlName="qry"></textarea>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>
</div>