.align-center {
    margin-bottom: 1.5rem;
  }
  
  .padding-5 {
    padding: 5px 5px 5px 5px;
  }
  
  .ng-select.select-custom {
    padding: 5px 5px 5px 5px;
  }
  
  .label-select-custom {
    padding: 5px 5px 5px 5px;
  }
  
  .margin-padding-0 {
    padding: 0px;
    margin: 0px;
  }
  
  .col-sm-12 {
    margin: 0px;
    padding: 0px;
  }
  
  .row {
    margin: 0px;
    padding: 0px;
  }
  
  .span-fa {
    font-size: 1.5em;
  }
  
  .span-status {
    font-size: 2em;
  }
  
  .div-span-status-wait {
    color: #ff9a00;
    padding: 0px 5px 0px 5px;
  }
  
  .div-span-status-complete {
    color: #009e4d;
    padding: 0px 5px 0px 5px;
  }
  
  .span-disable {
    background-color: #e9ecef;
  }
  
  .div-mobile-buttons {
    padding: 0px 2px 0px 2px;
  }
  
  .card-buttons {
    padding: 10px 0px 10px 0px;
  }
  
  .span-bt-icon {
    font-size: 1.4em;
  }
  
  .span-bt-text {
    margin-left: 5px;
  }
  
  .butao-acao {
    padding: 5px 0px 5px 0px;
  }
  
  .botao-acao-item {
    padding: 1px 1px 1px 1px;
    margin: 0px;
    font-size: 9px;
  }
  
  .span-info-alert {
    font-size: 0.6em;
  }
  
  .alert-acesso {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .span-pesq {
    font-size: 14px;
  }
  
  .span-pesq-alert {
    margin-left: 5px;
  }
  
  .table-venda {
    background-color: #ffffff;
  }
  
  .div-totals {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  :host ::ng-deep .datatable-body-cell {
    padding: 5px !important;
    margin: 0px !important;
    border: 0.7px solid #e9ecef;
    font-size: 10px !important;
  
    input[type="checkbox"] {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
    }
  }
  
  :host ::ng-deep .datatable-header-cell {
    padding: 5px !important;
    margin: 0px !important;
    border: 0.7px solid #e9ecef;
    font-size: 10px !important;
  }
  
  :host ::ng-deep .classe-faturado {
    background-color: rgba(0, 128, 0, 0.199);
  }
  
  :host ::ng-deep .classe-aguardando-aprovacao {
    background-color: rgba(255, 255, 0, 0.247);
  }
  
  :host ::ng-deep .classe-aguardando-aprovacao-superior {
    background-color: rgba(111, 152, 223, 0.247);
  }
  
  :host ::ng-deep .classe-aguardando-faturamento {
    background-color: rgba(255, 0, 0, 0.247);
  }
  
  :host ::ng-deep .classe-confirmado {
    background-color: rgba(223, 86, 177, 0.247);
  }
  
  :host ::ng-deep .classe-aguardando-carregamento {
    background-color: rgba(42, 7, 240, 0.437);
  }
  
  :host ::ng-deep .classe-carregado {
    background-color: rgba(0, 128, 0, 0.199);
  }
  
  
  
  
  
  .form-group {
    margin-bottom: 0px;
  }
  
  label {
    font-size: 14px;
  }
  
  .span-btn-excluir {
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
  }
  
  button {
    border: 1px solid #ced4da;
  }
  
  .span-status-atual {
    font-size: 12px;
  }
  
  :host ::ng-deep .spinner-full .loading-text {
    top: 5%;
    width: fit-content;
    text-align: center;
  }
  
  .img-max-lenght {
    max-height: 250px;
    max-width: 250px;
  }
  
  .picsum-img-wrapper {
    background-color: #555555;
    border-style: groove;
    border-width: 2px;
  }
  
  .spin-upload-image {
    font-size: 28px;
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .span-btn2 {
    font-size: 1.5em;
  }
  
  .venda-div-principal {
    color: #000000;
    font-weight: 500;
  }
  
  .form-control,
  .dataTable-input {
    color: #000000;
  }
  
  .card-header {
    background-color: white;
  }
  
  .card-body {
    background-color: white;
  }
  