.align-center {
    margin-bottom: 1.5rem;
}
.padding-5 {
    padding: 5px 5px 5px 5px;

}
.ng-select.select-custom {
    padding: 5px 5px 5px 5px;
}
.label-select-custom {
    padding: 5px 5px 5px 5px;
}
.margin-padding-0 {
    padding: 0px;
    margin: 0px;
}

.col-sm-12 {
    margin: 0px;
    padding: 0px;
}
.row {
    margin: 0px;
    padding: 0px;
}
.span-fa {
    font-size: 1.5em;
}
.span-status {
    font-size: 2em;
}
.div-span-status-wait {
    color: #FF9A00;
    padding: 0px 5px 0px 5px;
}
.div-span-status-complete {
    color: #009E4D;
    padding: 0px 5px 0px 5px;
}
.span-disable {
    background-color: #E9ECEF;
}
.div-mobile-buttons {
    padding: 0px 2px 0px 2px;
}
.card-buttons {
    padding: 10px 0px 10px 0px;
}
.span-bt-icon {
    font-size: 1.4em;
}
.span-bt-text {
    margin-left: 5px;
}
.butao-acao {
    padding: 5px 0px 5px 0px;
}
.botao-acao-item {
    padding: 1px 1px 1px 1px;
    margin: 0px;
    font-size: 12px;
}
.span-info-alert {
    font-size: 0.6em;
}
.alert-acesso {
    padding: 5px;
}
.span-pesq {
    font-size: 14px;
  }
.span-pesq-alert {
    margin-left: 5px;
}
.table-venda {
    background-color: #ffffff;
}
.div-totals {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
:host ::ng-deep .datatable-body-cell {
    padding: 5px !important;
    margin: 0px !important;
    border: 0.7px solid #E9ECEF;  
}
:host ::ng-deep .datatable-header-cell {
    padding: 5px !important;
    margin: 0px !important;
    border: 0.7px solid #E9ECEF;     
}
.form-group {
    margin-bottom: 0px;
}
label {
    font-size: 14px;
}
.span-btn-excluir {
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
}

button {
    border: 1px solid #ced4da;
}
.span-status-atual {
    font-size: 12px;
}
:host ::ng-deep .spinner-full .loading-text {
    top: 5%;
    width: fit-content;
    text-align: center;
}
.card-header {
    background-color: white;
}
.card-body {
    background-color: white;
}