.div-print-content {
    font-size: 0.5em;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
}
.th-center {
    text-align: center;
}
.table {
    margin: 0px;
}
.table1 th, .table1 td {
    padding: 5px;
}

.table th, .table td {
    padding: 0.15rem;
}
.div-veiculo {
    font-size: 9px;
}
.p-descricao {
    border: 1px solid #dee2e6;
    padding: 3px;
}
.p-titulo {
    text-align: center;
    font-size: 9px;
    margin: 5px 0px 0px 0px;
}

